
<!-- EMPRESAS -->
<div class="d-block" style="background-image: url({% static 'banners/bannerajustado3.png' %});">

    <div id="empresas">


        <div class="row  justify-content-center p-3 ">

            <div class="col-lg-3 col-sm-12 m-3  ">
                <h5 class="text-white">Distribuidor</h5>
                <div class=" text-center p-3"
                     style="border-style:solid; border-width: 3px; border-style:solid; border-color: white">

                    <div>
                        <img class="my-3 img-fluid" src="{% static 'parts/logo1.png' %}" alt="">
                    </div>
                </div>
                <input type="button" onclick="location.href='https://www.meggitt.com/';" value="ver mais"
                       class="btn btn-outline-light mt-3">


            </div>
            <div class="col-lg-3 col-sm-12 m-3 " id="certificacoes">

                <h5 class="text-white">Distribuidor</h5>
                <div class=" text-center p-4"
                     style="border-style:solid; border-width: 3px; border-style:solid; border-color: white">

                    <div>
                        <img class="img-fluid" src="{% static 'parts/DynamicLogo.png' %}" alt="" class="img-fluid py-1 my-2">
                    </div>
                </div>
                <input type="button" onclick="location.href='https://www.dynamicratings.com/';" value="ver mais"
                       class="btn btn-outline-light mt-3">

            </div>
            <div class="col-lg-3 col-sm-12 m-3 ">

                <h5 class="text-white">Empresa certificada</h5>
                <div class=" text-center p-3"
                     style="border-style:solid; border-width: 3px; border-style:solid; border-color: white">

                    <div>
                        <img class="img-fluid" src="{% static 'parts/logo2.png' %}" alt="">
                    </div>
                </div>
                <input type="button" onclick="location.href='https://www.traceinternational.org/';" value="ver mais"
                       class="btn btn-outline-light mt-3">

            </div>
        </div>


    </div>
</div>

<!-- FIM EMPRESAS -->