<!--  NAVBAR-->
{% load static %}
<div id="navbar">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light" style="background-color:#b4474a; color:#fffcdc">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo/logo.jpg' %}" width="100" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="color:#fffcdc" href="/#sobre">Sobre <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:#fffcdc" href="https://www.dynamicratings.com/">Dynamic Ratings
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style=" color:#fffcdc" href="/#segmentos">Segmentos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:#fffcdc" href="/#empresas">Empresas <span
                            class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" style="color:#fffcdc" href="#certificacoes">Certificações <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
                <li class="nav-item active">
                    <a class="nav-link" style="color:#fffcdc" href="/#atendimento">Atendimento <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<!--Banner-->
<div class="d-block">
    <div id="banner">
        <img class="img-fluid" src="{% static 'banners/bannerajustado.png' %}" style="padding-top: 70px;" >
    </div>
</div>
    <!-- FIM BANNER -->