{% load static %}
<!-- SEGMENTOS -->
<div id="segmentos" class="container-fluid anchor-link" style="background-color:#f5f5f5">
    <div class="container">

        <div class="row py-3">
            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg6.jpg' %}" alt="">
                    <div class="ml-3">Instrumentação</div>
                </div>
                <br>
                <div class="text-justify">
                    Equipamentos de sistemas de monitoramento e proteção de maquinas, sensoriamento, descargas parciais,
                    válvulas de controle e etc.
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg2.jpg' %}" alt="">
                    <div class="ml-3 ">Consultoria</div>
                </div>
                <br>
                <div class="text-justify">
                    Consultoria de engenharia e diagnóstico especializado para formulação de soluções.
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg3.jpg' %}" alt="">
                    <div class="ml-3">Manutenção</div>
                </div>
                <br>
                <div class="text-justify">
                    Verificações funcionais, manutenção, reparos ou substituição de dispositivos, equipamentos,
                    maquinário e
                    instalações de apoio necessárias.
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg4.jpg' %}" alt="">
                    <div class="ml-3">Montagens <br> industriais</div>
                </div>
                <br>
                <div class="text-justify">
                    Mediante projeto, realizamos montagens e desmontagens industriais.
                    Compreende o pacote de serviços de instalação de equipamentos e estruturas metálicas, tubulações e
                    dutos, sistemas de geração,
                    transformação e distribuição de energia elétrica e sistemas de automação industrial.
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg5.jpg' %}" alt="">
                    <div class="ml-3"> Automação</div>
                </div>
                <br>
                <div class="text-justify">
                    Para realizar automaticamente o controle dos mecanismos que verificam seu próprio funcionamento,
                    efetuando medições e introduzindo correções, sem a necessidade da interferência do homem,
                    disponibilizamos
                    equipamentos para realização do seu projeto de automação industrial.
                </div>
            </div>

            <div class="col-lg-4 col-sm-10 my-3">
                <div class="h5 row align-items-center"><img src="{% static 'parts/seg1.jpg' %}" alt="">
                    <div class="ml-3">Serviços de <br> engenharia</div>
                </div>
                <br>
                <div class="text-justify">
                    Elaboração de projetos, supervisão, comissionamento, treinamento e acompanhamento de serviço.
                    Serviços de monitoramento, análise e diagnóstico de máquinas presencial ou remotamente.
                </div>

            </div>
        </div>

    </div>
</div>
<!-- FIM SEGMENTOS -->